
.container{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    margin-bottom: 18px;
}

.prop{
    width: 40%;
}

.input{
    width: 60%;
}

input[type = checkbox]{
    display: inline-block;
}

.side1{
    width: 45%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.side2{
    
    padding-top: 25px;
    width: 55%;
    padding-bottom: 10px;
    
}

form{
    font-weight: bold;
   
}

span{
    padding-left: 20px;
    font-weight: normal;
    font-size: small;
    
}

h2{

    padding: 10px 0 10px 10px;
    width: 100%;
    
    background-color: rgb(95, 160, 146);
}

h2, body{
    margin: 0;
    
}

.button{
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: rgb(188, 192, 192);
    padding: 10px 0px;
    
}

.submit, .reset{
    background-color: rgb(95, 160, 146);
    color: cornsilk;
    border: none;
    font-size: 20px;
    
}

p{
    text-decoration: underline;
    font-weight: normal;
}
