
body{
    background-color: rgb(51, 48, 48);
}

h2{
    color: honeydew;
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
   
}

.container{
    display: grid;
    justify-content: center;
   
   
   
    
    grid-template-columns: 200px 20px 200px;
    grid-template-rows: auto;
    grid-template-areas: "one . two"
                         "three . four";
    align-content: space-around;
    height: 200px;
    
}

.container>div{
    width: 150px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    
}



.one {
    grid-area: one; 
    background-color: rgba(255, 102, 0, 0.342);
}

.two {
    grid-area: two; 
    background-color: rgba(47, 213, 255, 0.493);
}

.three{
    grid-area: three; 
    background-color: rgba(165, 115, 8, 0.459);
}

.four{
    grid-area: four; 
    background-color: rgb(233, 232, 232);
}