
body{
    background-color: rgb(51, 48, 48);
}

h2{
    color: honeydew;
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
   
}

.container{
    
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding-top: 200px;
    grid-auto-rows: 200px;
    justify-items:stretch;
    width: 50%;
    margin: auto;
      
}

.container>div{
  
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    padding-top: 30px;
    
}

.container>div:hover{
    border: rgba(20, 20, 20, 0.884) 2px solid;
}


.one {
    
    background-color: rgba(255, 102, 0, 0.342);
}

.two {
    
    background-color: rgba(47, 213, 255, 0.493);
}

.three{
    
    background-color: rgba(165, 115, 8, 0.459);
}

.four{
    
    background-color: rgba(211, 202, 197, 0.781);
}