body{
    background-color: #f7f7f7;
}

h2{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #f9fff9;
    font-size: 5vw;
    font-weight: bold;
    background-color: #647474;
}

h5 {
    color: #6f7b81;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size:larger;
    background-color:#e5f4fd;

}

p{
    color: #000;
    font-weight: normal;
    font-size: large; 
}

.list {
    color: #000;
    font-weight: normal;
    font-size: 16px;
    
}

#movie{
    transform: rotate(180deg);
    }

#movie>li{
    transform: rotate(-180deg);
}

.imagelist{
    display: inline;
}

a:link{
    color:#c38b5c;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active {
    color: black;
}

a:visited{
    color: #194d19;
}

#moviedetail>li{
    list-style: none;
    font-weight: bolder;
    font-size: 1em;
}

#moviedetail>p{
    padding-left: 5%;
}

footer{
    background-color: #b49f8b;
}